USE [master]
GO
/****** Object:  Database [Sale_DW]    Script Date: 23/01/2025 8:52:57 CH ******/
CREATE DATABASE [Sale_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sale_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CWRONG\MSSQL\DATA\Sale_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sale_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CWRONG\MSSQL\DATA\Sale_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sale_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sale_DW]
GO
/****** Object:  Table [dbo].[dimCustomers]    Script Date: 23/01/2025 8:52:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dimCustomers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProducts]    Script Date: 23/01/2025 8:52:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProducts](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dimProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimStores]    Script Date: 23/01/2025 8:52:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimStores](
	[StoreID] [int] NOT NULL,
	[StoreName] [nvarchar](255) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dimStores] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTime]    Script Date: 23/01/2025 8:52:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTime](
	[TimeID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Month] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[DayOfWeek] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dimTime] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factSales]    Script Date: 23/01/2025 8:52:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factSales](
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[TimeID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_factSales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factSales]  WITH CHECK ADD  CONSTRAINT [FK_factSales_dimCustomers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[dimCustomers] ([CustomerID])
GO
ALTER TABLE [dbo].[factSales] CHECK CONSTRAINT [FK_factSales_dimCustomers]
GO
ALTER TABLE [dbo].[factSales]  WITH CHECK ADD  CONSTRAINT [FK_factSales_dimProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[dimProducts] ([ProductID])
GO
ALTER TABLE [dbo].[factSales] CHECK CONSTRAINT [FK_factSales_dimProducts]
GO
ALTER TABLE [dbo].[factSales]  WITH CHECK ADD  CONSTRAINT [FK_factSales_dimStores] FOREIGN KEY([StoreID])
REFERENCES [dbo].[dimStores] ([StoreID])
GO
ALTER TABLE [dbo].[factSales] CHECK CONSTRAINT [FK_factSales_dimStores]
GO
ALTER TABLE [dbo].[factSales]  WITH CHECK ADD  CONSTRAINT [FK_factSales_dimTime] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dimTime] ([TimeID])
GO
ALTER TABLE [dbo].[factSales] CHECK CONSTRAINT [FK_factSales_dimTime]
GO
USE [master]
GO
